/* styles.css
   Handles the CSS for this project. */

@font-face {
	font-family: Acknowledge;
	src: url("assets/acknowtt.ttf");
}

body {
	background-color: rgb(64, 0, 0); /* #400000 */
}

p {
	font-family: Acknowledge;
	font-size: 24pt;
	/* maybe prevent text from being selectable? */
}

#display {
	width: 650px;
	height: 650px;
	margin: auto; /* center the div on screen horizonally */
	box-sizing: border-box; /* prevents padding from expanding the div */
	padding: 10px;
	display: flex;
	flex-direction: row;
	background-color: maroon; /* #800000 or rgb(128,0,0) */
}

#panel {
	width: 100%;
	box-sizing: border-box; /* prevents padding from expanding the div */
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(192, 0, 0); /* #C00000 */
}

#panel p {
	margin: 15px 0px;
	padding: 4px;
	line-height: 20px;
	background-color: rgb(255, 0, 0);
}

#canvas {
	cursor: crosshair;
}

#sidebar {
	width: 100%;
	box-sizing: border-box; /* prevents padding from expanding the div */
	padding: 10px;
}

#targetDiv { /* maybe change to sidebar div? */
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: red;
	border-radius: 15px;
}

#targetColorSpan { /* displays the target color */
	background-color: black;
	border: solid 2px white;
	width: 50px;
	height: 50px;
	margin: 0px;
}

#targetColorText {
	margin: 0px 0px 0px 4px;
	padding: 4px;
	line-height: 20px;
}

#replaceDiv { /* maybe change to sidebar div? */
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: red;
	border-radius: 15px;
	cursor: pointer;
}

#replaceColorSpan { /* displays the target color */
	background-color: black;
	border: solid 2px white;
	width: 50px;
	height: 50px;
	
}

#replaceColorText {
	margin: 0px 0px 0px 4px;
	padding: 4px;
	line-height: 20px;
}

#colorPicker {
	display: none;
}